<nav class="navbar navbar-av navbar-dark navbar-expand-md navbar-top">
  <div class="container d-flex justify-content-between">
    <app-logo></app-logo>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      [ngbCollapse]="isCollapsed"
    >
      <div class="navbar-nav">
        <a class="btn btn-AV d-flex">
          iniciar sesión
          <div class="material-icons">
            person
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>
