.navbar-av {
  background: #ff6859;
  .btn-AV {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    border-color: #ffffff;
    background: #ff6859;
    font-family: 12px 'Open Sans', sans-serif;
    color: #ffff;
    letter-spacing: 0.1rem;
    font-weight: 575;
    .material-icons {
      margin-left: 5px;
    }
  }
}
