h2 { 
    color: #484CF8
}
hr {
    background: #484CF8;
}

label { 
    font-weight: 450;
}

.btn_AV {
    width: 100%;
    background: #ff6859;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 575;
    font-family: 12px 'Open Sans', sans-serif;
}