.card {
  width: 17rem;
  .form-label {
    font-weight: 525;
  }
  .btn_AV {
    width: 100%;
    background: #ff6859;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 575;
    font-family: 12px 'Open Sans', sans-serif;
  }
}
